
.phases-container {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.phase-block.first {
    position: relative;

}

.phase-body {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 140px;
    margin-left: 9em;

}

.phase-body img {
    width: 60px;
}

.sub-header {
    width: 120px;
}


.svg_position {
    right: 120px;
    height: 5em;
    width: 6.5em;
}