footer {
  padding: 2rem;
  background-color: var(--spectrum-global-color-gray-200);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 768px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}