/*
 * Copyright 2022 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 html {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }

 body {
    margin: 0;
    padding: 0;

  }

 body.appear {
    display: unset;
  }

 header {
    height: 64px;
  }

 main {
    padding-top: 64px;
    padding-bottom: 64px;
    min-height: calc(100vh - 300px);
  }

  .section > div {
    max-width: 1400px;
    margin: auto;
  }


